name: Release

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build release binaries
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest
          package: x86_64-linux-musl
          asset_name: gh-ghq-cd-linux-amd64

        - os: ubuntu-latest
          package: aarch64-linux-musl
          asset_name: gh-ghq-cd-linux-arm64

        - os: macos-13
          package: default
          asset_name: gh-ghq-cd-darwin-amd64

        - os: macos-latest
          package: default
          asset_name: gh-ghq-cd-darwin-arm64

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v17

    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@v9

    - name: Build package
      run: |
        nix build .#${{ matrix.package }} --print-build-logs

    - name: Prepare binary
      run: |
        cp result/bin/gh-ghq-cd ${{ matrix.asset_name }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.asset_name }}
        path: ${{ matrix.asset_name }}

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v4

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: gh-ghq-cd-*/gh-ghq-cd-*
        generate_release_notes: true
